html    
    head #{title}
    script(language="javascript" scr="/bootstrap/js/bootstrap.min.js") 
    link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/CreateAccountStyle.css")
body  
    block content 