head
  title Login
  script(language="javascript" scr="/bootstrap/js/bootstrap.min.js") 
  link(rel='stylesheet', href='/stylesheets/boostrap.min.css', type='text/css')
  //link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
  link(rel='stylesheet', href="./CSS/LoginAccountStyle.css")

h1 Welcome to ESport Game World

.loginbox
  img.Avatar(src='./images/Avatar.png')
  h1 Login Here
  form
    p Username
    input(type='text', name='', placeholder='Enter Username')
    p Password
    input(type='password', name='', placeholder='Enter Password')
    input(type='Submit', name='', value='Login') 
    a(href='#') Forgotten your password?
    br
    a(href='/createaccount') Create Account
